#inv_item_table td	{	border: 1px solid black;	padding: 0.5%;	}
/*#inv_item_table th	{	border: 1px solid black;	padding: 0.5%;	background-color: rgb(245, 170, 12);	}*/

#status_trays
{
padding: 0.1%;
}

#status_trays th
{
padding: 0.1%;
}

#status_trays td 
{	
border: 1px solid black;	
padding: 0.1%;	
text-align: center;
}

.grey
{	
background-color: grey;
}