#inv_item_table td	{	border: 1px solid black;	padding: 0.5%;	}
/*#inv_item_table th	{	border: 1px solid black;	padding: 0.5%;	background-color: rgb(245, 170, 12);	}*/

#status_trays
{
padding: 0.1%;
width: auto;
}

#status_trays th
{
border: 1px solid black;
padding: 0.1%;
text-align: center;
white-space: normal;
}

#status_trays td 
{	
border: 1px solid black;	
padding: 0.1%;	
text-align: center;
white-space: nowrap;
}

.gray
{	
background-color: gray;
}

.red
{
background-color: red;
}

.yellow
{
background-color: yellow;
}